.App {
	text-align: center;
	color: #fff;
}

a {color:#fff; text-decoration:none;}
a:visited {color:#fff;}
a:hover {color:#fff; cursor:pointer;}
a:active {color:#fff;}

button:hover {cursor:pointer;}
button:focus {outline-width: 0;}
button {
	border-radius: 30px;
	background-color: #1DB954;
	color: #fff;
	border: none;
	padding: 0;
}

input:focus {outline-width: 0;}
input {
	border: none;
	margin-left: 10px;
	border-radius: 30px;
	height: 40px;
	width: 40px;
	font-size: 20px;
	position: relative;
	top: 35%;
	transform: translateY(-35%);
}

textarea:focus {outline-width: 0;}
textarea {
	resize: none;
	padding-left: 15px;
	padding-top: 10px;
	border: none;
	border-radius: 30px;
	height: 40px;
	width: 275px;
	font-size: 25px;
	font-family: sans-serif;
}

select:focus {outline-width: 0;}
select {
	margin-top: 2px;
	height: 20px;
	border-radius: 30px;
}

.Header {
	background-color: #181818;
	padding-bottom: 15px;
	text-align: left;
	padding-left: 200px;
}

hr {
	border-color: #191414;
}

.Title {
	display: inline;
	font-size: 50px;
	padding-left: 15px;
}

.Logo {
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: -40px;
}

.BackgroundImage {
	width:100%;
	height:100%;
}

.Bg {
	position: absolute;
	opacity: 0.5;
	top: 5%;
	left: 2%;
	width: 96%;
}

.Login {
	position: relative;
}

.LoginContents {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.LoginButton {
	height: 75px;
	width: 400px;
	border-radius: 50px;
	font-size: 28px;

}

.CompareButton {
	border-radius: 50px;
	margin-bottom: 20px;
	height: 80px;
	width: 325px;
	font-size: 30px;
}

.LeftFrame {
	width: 49.9%;
	float: left;
	border-right: 1px solid #000;
}

.RightFrame {
	width: 50%;
	float: right;
}

.ResetButton {
	height: 50px;
	width: 200px;
	font-size: 15px;
}

.Sort {
	width: 30%;
	padding-left: 20%;
	float: left;
}

.Filter {
	width: 30%;
	padding-right: 20%;
	float: right;
}

.Playlist {
	text-align: unset;
	width: 400px;
	height: 120px;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #3c3c3c;
}

.PlaylistImage {
	padding-top: 10px;
	padding-left: 5px;
	width: 30%;
	float: left;
}

.PlaylistName {
	margin-left: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.Track {
	width: 350px;
	height: 90px;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #3c3c3c;
	border-bottom: 1px solid #000;
}

.TrackImage {
	padding-top: 10px;
	width: 25%;
	float: left;
}

.TrackName {
	margin-left: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ArtistName {
	margin-top: -18px;
}

/* Styling for Toggle Switch */

.switch input {display:none;}
.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 25px;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #1DB954;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #1DB954;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}
  
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}